.form {
  max-width: 600px;

  &__header {
    color: $color-heading;
  }

  &__label {
    display: block;
    color: $color-label;
  }

  &__input {
    color: $color-font;
  }

  &__text {
    color: $color-font;
  }
}
