// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "vars";
@import "utils";
@import "font";
@import "./Components/main";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

a {
  color: $color-tertiary;
  text-decoration: none;
}
